@import url('https://fonts.googleapis.com/css2?family=Nobile&family=Noto+Sans+TC&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {
  @apply bg-light dark:bg-primary;
  @apply font-nobile;
  @apply min-h-screen;
}

@layer utilities {
  .bg-grid-dark {
    background-image:
      linear-gradient(to right, rgba(10, 37, 62, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(10, 37, 62, 0.1) 1px, transparent 1px);
  }
  .bg-grid-light {
    background-image:
      linear-gradient(to right, rgba(255, 255, 255, 0.1) 1px, transparent 1px),
      linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  }
}

@page {
    size: A4 landscape;
}